main > .content-panel:last-of-type > .sl-container {
	width: 100%;
	min-width: 0;
}

main > .content-panel:last-of-type > .sl-container > * {
	min-width: 0;
}

.hero .tagline p {
	margin: 0;
}

.hero .tagline p + p {
	margin-top: 1rem;
}
